.padding{padding: 1%;}
.column, .row{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.row{
    flex-direction: row;
    justify-content: space-around;
}
.outlineStyle{
    outline-style: solid;
    outline-width: 2px;
    outline-color: #ffffff;
}
body{
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    background-image: url("./src/leafWall.jpg");
    color: #ffffff;
    font-size: large;
}
section{
    width: 90%;
    margin: 5%;
}
p, h1, ul, h5, img, .twoBalls{
    background-color: black;
    list-style: none;
    text-align: center;
}
header{
    *{background: none;}
    width: 80%;
    margin: 1% 10%;
    font-size: larger;
    div{
        background-image: url("./src/LOGico.png");
        img{
            position: absolute;
            top: 10%;
            left: 70%;
        }
    }
}
a{color: aqua;}
a:hover{color: orangered;}
@media screen and (max-width: 850px) {
    *{font-size: medium;}
    .row{flex-direction: column;}
    section{
        width: 100%;
        margin: 0;
    }
    header div img{display: none;}
}
@media screen and (max-width: 400px) {
    *{font-size: small;}
    img{width: 60%;}
}
