html{ font-size: 62.2%; }
body{
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    background-image: url("./src/leafWall.jpg");
    color: #ffffff;
}
section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1vh 1vw;
}
main{
    display: grid;
   img, h5, p{
        width: 100%;
        margin: 5px;
    }
    li{ background-color: black; }
}
p{
    width: 80%;
    overflow-y: scroll;
    overflow-wrap: break-word;
}
header div{
    width: 0.8em;
    height: min-content;
}
a{
    text-decoration: none;
    color: aqua;
}
a:hover{ color: magenta; }
h1{ padding: 0.5rem; }
ul{ list-style: none; }
li{ text-align: left; }
header img{ width: 0.1em; }
.blackBack{ background-color: black; }
.outlineStyle{
    outline-style: solid;
    outline-width: 2px;
    outline-color: #ffffff;
}
.threeColumns{
    grid-template-columns: repeat(3, 32%);
    grid-auto-rows: 15rem;
    grid-column-gap: 1.111%;
    grid-row-gap: 1vh;
}
.twoColumns{
    grid-template-columns: repeat(2, 49%);
    grid-auto-rows: 15rem;
    grid-column-gap: 1%;
    width: 90%;
    margin: 5%;
}
@media screen and (min-width: 850px) {
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    section{
        width: 90vw;
        margin: 5vw;
    }
}
